body {
    padding-left: 15px;
}

h3 a {					/* dla każdego a umieszczonego w h3 */
    color: #FCA205; 
    font-family: 'Lobster';	
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.post {
    margin-bottom: 70px;
	color: #000000;
}

.date {
    float: right;
    color: #828282;
}
